<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather_icon.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        <header>
            <h1>Help</h1>
            
            <a href="/">Weather</a>
            <a href="/about">About</a>
            <a href="/help">Help</a>
        </header>
        <p>{{message}}</p>

        <form>
            <input>
            <button>Send</button>
        </form>
    </div>
    
    <footer>
        <p>Created by Maja</p>
    </footer>
</body>

</html>